.request_topic {
    width: 94%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.description{
    font-size: 16px;
    text-align: start;
}

.image{
    width: 100%;
    border-radius: 5px;
}

.display_images{
    text-align: left;
    font-size: 16px;
    color: rgb(3, 33, 134);
    font-weight: 500;
}

.request_interactions{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;    
}

.icon_and_label {
    display: flex;
    align-items: center;
    column-gap: 2px;
}
