
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    width: 100%;
    height: 100vh;
   
    font-family: 'Montserrat', sans-serif;

    position: relative;
}

.banner{
    width: 100%;
    height: 450px;
    background-image: url("../../../../tempData/images/handsphoto.jpg");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: center top;
    position: absolute;
    z-index: 1;
    bottom: 80px;
}

.banner-text-container{
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 50px;
        
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.banner-title{
    font-weight: 800;
    font-size: 120px; 
    padding: 0;
    margin: 0;
}

.banner-subtitle{
  
}

.input-button-container{
    position: absolute; 
    left: 80px;
    top: 250px;
    z-index: 2;
    
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}


.input{
    height: 50px;
    padding: 0px;
}

.button{
    color: white;
    background-color: black;
    height: 50px;
    padding: 0px;
}

@media only screen and (max-width: 950px) {
  .container{
    width: 100%;
  }

  .banner{
    width: 100%;
    height: 300px;
    bottom: 50px;    
  }
  
  .banner-text-container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    
  }
 

  .input-button-container{
    width: 100%;
    position: relative;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;
    width: 200px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

  }
  

}

@media only screen and (max-width: 500px){
  .banner-title{
    font-size: 50px;
    
  }
  .banner-subtitle{
    font-size: 14px;
  } 
}