.create_comment_card{
    width: 94%;
    height: 70px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    border:lightgray 2px solid;
    border-radius: 5px;
 

    font-size: 16px;

    display: flex;
    align-items: center;
  
       
}

.profile_img_div{
    margin-left: 5px;
    margin-right: 5px;
    
    display: flex;
    flex-direction: rows;
    align-items: center;
    column-gap: 5px;

}

.form{
    width: 94%;
}

.input_comment{
    height: 40px;
    width: 94%;
    border: lightgray solid 2px;    

}



