.user-profile {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  outline: 1px solid black;
  padding: 10px 25px;
  border-radius: 8px;
  margin-top: 30px;
}

.profile-heading {
  text-align: center;
}

.profile-pic-container {
  width: 160px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.verifications-container {
  display: flex;
  flex-direction: column;
}

.pic-and-edit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  & button {
    height: fit-content;
    padding: 5px 8px;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }
}

.profile-textarea {
  width: 90%;
  min-height: 150px;
}
