.nav {
    height: 60px;
    width: 100vw;

    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.site-logo{
    height: 40px;
    margin-left: 20px;
}

.nav-links {
    margin-right: 20px;

    display: flex;
    align-items: center;
    column-gap: 10px;

}

.nav-links > a {
    text-decoration: none;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 18px;

    color: white;
}

.profile-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


@media only screen and (max-width: 950px) {
   .site-logo{     
        height: 30px;
        margin-left: 10px;
   }

   .nav-links > a {
    font-size: 14px;
   }
  
  }