@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}


.nav {
    height: 60px;
    width: 100vw;

    background-color: #1B1C30;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.site-logo{
    height: 40px;
    margin-left: 20px;
}

.nav-links {
    margin-right: 20px;

    display: flex;
    align-items: center;
    column-gap: 10px;

}

.nav-links > a {
    text-decoration: none;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 18px;
    font-weight: 600;

    color: white;
}

.profile-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


@media only screen and (max-width: 950px) {
   .site-logo{     
        height: 30px;
        margin-left: 10px;
   }

   .nav-links > a {
    font-size: 14px;
   }
  
  }