.comment-card{
    width: 94%;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    border:lightgray 2px solid;
    border-radius: 5px;
    border-top: 0px; 

    font-size: 15px;

    display: flex;
    flex-direction: column;   
}

.comment-header{
    padding-left: 5px;
    padding-right: 5px;
    border-top: lightgray 2px solid;
    border-bottom: lightgray 2px solid;

    background-color: rgb(230, 230, 230);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.comment-header > div {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.comment-header > a {
    text-decoration: none;
    font-weight: 400;
}

.reply{
    font-weight: 400;
    margin: 0;
}

.icon-and-label {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.comment-body{
    text-align: left;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    font-size: 16px;

}

.profile-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 700px){
    .comment-card{
        width: 94%;    
}

}